.event{
    width: calc(100% - 200px);
    min-height: 300px;
    margin: auto;
    border-radius: 15px;
    // box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:nth-child(1)){
        margin: 50px auto;
    }
    &.rtl{
        .text{
            padding: 5px 0px 0px 60px!important;
        } 
        .rImage img{
            border-radius: 0px 15px 15px 0px !important;
            // display: none!important;
        }
    }
    .image { 
        width: 400px;
        height: 300px;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
            border-radius: 15px 0px 0px 15px;
        }
        &:hover{
            cursor: pointer;
        }
    }
    .text{
        box-shadow: border-box;
        padding: 5px 20px;
        max-width: 400px;
        clear: both;
        .title {
            font-size: 30px;
            margin: 5px;
            &:hover{
                cursor: pointer;
            }
        }
        p {
            margin-right: 5px;
            font-size: 18px;
        }
        .time {
            width: 100%;
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;
            .celander{
                display: flex;
                justify-content: center;
                align-items: center;
                direction: ltr!important;
                .clock{
                    margin-left: 15px;
                }
            }
            .button {
                width: 150px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                background : var(--main-second-color);
                color: var(--text-second-color);
                margin-right: 5px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width : 1680px){
    .event {
        box-shadow: none;
        width: calc(100% - 10px);
        display: block;
        padding: 0px;
        margin: 10px auto !important;
        &.rtl{
            .text{
                padding: 5px 5px 5px 5px !important;
            } 
        }
        .text{
            max-width: calc(100% - 10px) !important;
            padding: 5px 5px 5px 5px !important;
            h1 {
                width: 100% !important;
            }
            p {
                padding: 30px 30px 5px 10px !important;
            }
        }
        .image{
            max-width: calc(100% - 10px);
            height: 200px;
            margin-top: 30px;
            img {
                height: 200px;
                border-radius: 15px;
                width: 100%;
            }
        }
        .rImage {
            border-radius: 15px;
        }
    }
}