:root {
    --container-width : clamp(300px , 59% , 1100px);
    // theme colors
    --main-second-color : rgba(92,106,196,0.1);
    --text-second-color : #5c6ac4;
    --text-first-color : #54595F;
}

@media screen and (max-width : 420px){
    :root {
        --container-width : calc(100% - 20px);
    }
}