@import 'variables';

* {
  font-family: iranyekan !important;
}

body{
  direction: rtl;
  margin: 0px;
  padding: 0px;
}

.container {
  width: var(--container-width);
  margin: auto;
  padding-bottom: 70px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color : #1a1a1a;
}

.title {
  font-size: 42px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}